<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="mon" class="com.text.Monitor">
    <property name="size" value="18"></property>
    <property name="pixels" value="25"></property>
    
    </bean>
    
    <bean id="cmp" class="com.text.Computer ">
    <property name="Company" value="Dell"></property>
    <property name="Price" value="35000"></property>
    <constructor-arg name="mn" ref="mon"></constructor-arg>
    
    
    </bean>

</beans>